body {
    background-image: url("Asset.png");
    background-repeat: no-repeat;
    background-size: 1440px 1000px;
}

.form-info p {
    color: black;
}

.body {
    width: 600px;
    height: 500px;
    margin-top: 150px;
    margin-left: 450px;
    font-family: sans-serif;
}

h1 {
    color: #fff;
}

.second_section .description {
    color: #fff;
    margin-left: 0%;
    font-size: medium;
    font-family: sans-serif;
}

p {
    color: #fff;
    font-family: sans-serif;
}

.form-wrap {
    width: cover;
    height: cover;
    margin-left: 0%;
    padding: 20px 0px;
}

.form-wrap .first_form_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-wrap .second_form_part {
    display: flex;
    flex-wrap: wrap;
}

.form-wrap .submit_form_part {
    display: flex;
    width: 270px;

}

input {
    background: black;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    flex: 50%;
    font-family: sans-serif;
}

input:hover {
    background: teal;
    transition: .6s;
}


input[type="button"] {
    background: whitesmoke;
    border: 0;
    cursor: pointer;
    color: #3e3d3d;
    margin-top: 20px;
    flex: 50%;
}

input[type="button"]:hover {
    background: greenyellow;
    transition: .6s;
}

::placeholder {
    color: #fff;
}

.footer {
    font-family: sans-serif;
    font-size: small;
}